body {
  padding-top: 75px;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
}


small { font-size: 15px; font-weight: bold; margin-left: 10px;}
small a { color: #aaa; }
.publish { color: #ccc; font-size: 13px; margin-bottom: 15px; }
.publish a { color: #777; }


.doc-list {
  margin-top: 20px;
}

.actions {
  margin-top: 20px;
}

.devise-links {
  margin-top: 20px;
}

.field {
  margin-top: 20px;
}

.body_html {
  margin-top: 30px;
}
