/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

.phaph-switcher {
/*  border:0px;
  outline:0px;
  background-color:transparent;
  background:none;
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance:none;
  box-shadow: none;*/
  font-weight: bold;
}